<a href="https://colab.research.google.com/github/Annettteee/Data/blob/main/Annette_Introduction_to_SQL_Queries_NSDC_Data_Science_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



<h1 align="center">
    NSDC Data Science Projects
</h1>

<h2 align="center">
    Project: Practicing Writing SQL Queries - #1
</h2>

<h3 align="center">
    Name: (Annette)
</h3>

### **Please read before you begin your project**

**Instructions: Google Colab Notebooks:**

Google Colab is a free cloud service. It is a hosted Jupyter notebook service that requires no setup to use, while providing free access to computing resources. We will be using Google Colab for this project.

In order to work within the Google Colab Notebook, **please start by clicking on "File" and then "Save a copy in Drive."** This will save a copy of the notebook in your personal Google Drive.

Please rename the file to "DSP - SQL Queries #1 - Your Full Name." Once this project is completed, you will be prompted to share your file with the National Student Data Corps (NSDC) Project Leaders.

You can now start working on the project. :)

**Project Description:**

To work with the New York City Airbnb dataset in this project, you'll need to create and connect to an SQLite database as seen in the steps within this notebook.

**Key Features**

- Practical SQL exercises with step-by-step instructions.
- Real-world datasets for hands-on experience.
- Comprehensive explanations of SQL queries and concepts.
- Interactive coding examples and challenges.

**Dataset**
- You can find the New York City Airbnb dataset on Kaggle: [New York City Airbnb Dataset](https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data)
- Download the dataset from the provided link and save it as 'AB_NYC_2019.csv' on your computer.
- On Google Colab, click on the "Upload" button and select the 'AB_NYC_2019.csv' file from your local computer.

## Introduction
This SQL project is designed for beginners who want to practice writing SQL queries using a real-world dataset. In this project, we will work with the New York City Airbnb dataset. The main goal is to help you become familiar with SQL syntax and basic data analysis tasks. Make sure to complete the code where there is a 'TODO' sign. Hints are provided along the way.

## Table of Contents
1. [Libraries and Database Setup](#database-setup)
2. [Loading the Dataset](#loading-dataset)
3. [SQL Queries](#sql-queries)
4. [Closing Connection](#closing-connection)
5. [Summary of Basic SQL Commands](#summary-commands)

# Section 1: Libraries and Database Setup <a name="database-setup"></a>

### Task 1.1: Import Libraries
Let's start by importing the necessary libraries.

In [1]:
import pandas as pd
import numpy as np
import sqlite3

### Task 1.2: Connect to the Database

Next, establish a connection to the SQLite database named 'airbnb.db'.
Use the sqlite3 library to create a connection object and store it in a variable called 'conn'.

In [2]:
# Completed
# Connect to the SQLite database
conn = sqlite3.connect('airbnb.db')

# Section 2: Loading the Dataset <a name="loading-dataset"></a>

### Task 2.1: Load the Dataset
- You will work with the 'listings' table from the New York City Airbnb dataset.
- Load the dataset from the CSV file 'AB_NYC_2019.csv' into a DataFrame named 'df'.
- Then, import the DataFrame into the 'listings' table in the database using the to_sql() method.

Hint: Use the read_csv() method from pandas to read the CSV file.

In [3]:
# TODO: Load the dataset into the SQLite database
df = pd.read_csv('/content/AB_NYC_2019.csv')



# Completed
df.to_sql('listings', conn, if_exists='replace', index=False)

48895

# Section 3: SQL Queries <a name="sql-queries"></a>

Query the database: Write SQL queries to analyze the data in the SQLite database. You can use the sqlite3 library to execute the queries and fetch the results.

### Task 3.1: Retrieve all Columns
- Write an SQL query to retrieve all columns from the 'listings' table.
- Execute the query and display the first 10 rows of the result

Hint: Use SELECTION to select entries from a specified table.

In [5]:
cursor = conn.cursor()
# TODO: Execute an SQL query using the cursor.execute() method to retrieve all columns from listings (don't forget the trailing ';' to finish a query)
cursor.execute("SELECT * FROM listings;")

# Completed
# Fetch all the results using fetchall()
results = cursor.fetchall()

In [6]:
# TODO: Display the first 10 rows
for i, row in enumerate(results[:10]):
    print(row)

(2539, 'Clean & quiet apt home by the park', 2787, 'John', 'Brooklyn', 'Kensington', 40.64749, -73.97237, 'Private room', 149, 1, 9, '2018-10-19', 0.21, 6, 365)
(2595, 'Skylit Midtown Castle', 2845, 'Jennifer', 'Manhattan', 'Midtown', 40.75362, -73.98377, 'Entire home/apt', 225, 1, 45, '2019-05-21', 0.38, 2, 355)
(3647, 'THE VILLAGE OF HARLEM....NEW YORK !', 4632, 'Elisabeth', 'Manhattan', 'Harlem', 40.80902, -73.9419, 'Private room', 150, 3, 0, None, None, 1, 365)
(3831, 'Cozy Entire Floor of Brownstone', 4869, 'LisaRoxanne', 'Brooklyn', 'Clinton Hill', 40.68514, -73.95976, 'Entire home/apt', 89, 1, 270, '2019-07-05', 4.64, 1, 194)
(5022, 'Entire Apt: Spacious Studio/Loft by central park', 7192, 'Laura', 'Manhattan', 'East Harlem', 40.79851, -73.94399, 'Entire home/apt', 80, 10, 9, '2018-11-19', 0.1, 1, 0)
(5099, 'Large Cozy 1 BR Apartment In Midtown East', 7322, 'Chris', 'Manhattan', 'Murray Hill', 40.74767, -73.975, 'Entire home/apt', 200, 3, 74, '2019-06-22', 0.59, 1, 129)
(5121, 'BlissArtsSpace!', 7356, 'Garon', 'Brooklyn', 'Bedford-Stuyvesant', 40.68688, -73.95596, 'Private room', 60, 45, 49, '2017-10-05', 0.4, 1, 0)
(5178, "Large Furnished Room Near B'way ", 8967, 'Shunichi', 'Manhattan', "Hell's Kitchen", 40.76489, -73.98493, 'Private room', 79, 2, 430, '2019-06-24', 3.47, 1, 220)
(5203, 'Cozy Clean Guest Room - Family Apt', 7490, 'MaryEllen', 'Manhattan', 'Upper West Side', 40.80178, -73.96723, 'Private room', 79, 2, 118, '2017-07-21', 0.99, 1, 0)
(5238, 'Cute & Cozy Lower East Side 1 bdrm', 7549, 'Ben', 'Manhattan', 'Chinatown', 40.71344, -73.99037, 'Entire home/apt', 150, 1, 160, '2019-06-09', 1.33, 4, 188)

### Task 3.2: Count Total Records
- Write an SQL query to count the total number of records in the 'listings' table.
- Execute the query and display the count.

Hint: This query uses the COUNT(*) function to count the total number of records in the "listings" table.

In [7]:
# TODO: Execute the SQL query to count the number of records (don't forget the trailing ';' to finish a query)
cursor.execute("SELECT COUNT(*) FROM listings;")

# Completed
count = cursor.fetchone()[0]
# Print the count
print("Total number of records in the 'listings' table:", count)

Total number of records in the 'listings' table: 48895

### Task 3.3: Top 10 Neighborhoods by Average Price
- Write an SQL query to find the top 10 neighborhoods with the highest average listing price.
- Execute the query and display the results.

Hint: The result includes the neighborhood group, neighborhood name, and the average price. Make sure to use GROUP BY and ORDER BY, respectively.

In [8]:
# TODO: Execute the SQL query to find the top 10 neighborhoods with the highest average listing price (finish the two missing sql commands)
cursor.execute("""
    SELECT neighbourhood_group, neighbourhood, AVG(price) AS avg_price
    FROM listings
    Group BY neighbourhood_group,neighbourhood
    ORDER BY avg_price DESC
    LIMIT 10;
""")


# Completed
results = cursor.fetchall()

In [9]:
# Display the results
for row in results:
    print(row)

('Staten Island', 'Fort Wadsworth', 800.0)
('Staten Island', 'Woodrow', 700.0)
('Manhattan', 'Tribeca', 490.638418079096)
('Brooklyn', 'Sea Gate', 487.85714285714283)
('Bronx', 'Riverdale', 442.09090909090907)
('Staten Island', "Prince's Bay", 409.5)
('Manhattan', 'Battery Park City', 367.5571428571429)
('Manhattan', 'Flatiron District', 341.925)
('Staten Island', 'Randall Manor', 336.0)
('Manhattan', 'NoHo', 295.71794871794873)

### Task 3.4: Number of Listings by Room Type
- Write an SQL query to determine the number of listings available for each room type.
- Execute the query and display the results.

Hint: The COUNT(*) function is used to count the number of records for each room type, and the result is grouped by the room type.

In [10]:
# TODO: Execute the SQL query to determine the number of listings available for each room type (finish the one missing sql command)
cursor.execute("""
    Select room_type,COUNT(*) AS num_listings
    FROM listings
    GROUP BY room_type;
""")
# Completed
results = cursor.fetchall()

In [11]:
# Display the results
for row in results:
    print(row)

('Entire home/apt', 25409)
('Private room', 22326)
('Shared room', 1160)

### Task 3.5: Average Number of Reviews per Listing
- Write an SQL query to calculate the average number of reviews per listing.
- Execute the query and display the average.

Hint: Use AVG() to find the average of a column and save it via an alias using AS. Make sure to specify the table using FROM.

In [12]:
# TODO: Execute the SQL query to calculate the average number of reviews per listing (finish both the missing sql commands)
cursor.execute("""
    SELECT AVG(number_of_reviews) AS avg_reviews_per_listing
    FROM listings;
""")

# Completed
result = cursor.fetchone()
# Print the average number of reviews per listing
print("Average number of reviews per listing:", result[0])

Average number of reviews per listing: 23.274465691788528

### Task 3.6: Listings with Minimum Number of Reviews
- Write an SQL query to find the listings with the minimum number of reviews.
- Execute the query and display the results (limit to 15 rows).

Hint: The subquery (SELECT MIN(number_of_reviews) FROM listings) retrieves the minimum number of reviews from the "listings" table, and the main query filters the rows where number_of_reviews matches the minimum value. Make sure to use WHERE clause.

In [13]:
# TODO: Execute the SQL query to find the listings with the minimum number of reviews (finish the third missing sql command)
cursor.execute("""
    SELECT id
    FROM listings
    WHERE number_of_reviews = (SELECT MIN(number_of_reviews) FROM listings)
    LIMIT 15;
""")
# Completed
results = cursor.fetchall()

In [14]:
# Display the results (limit to 15 rows)
for row in results:
    print(row)

(3647,)
(7750,)
(8700,)
(11452,)
(11943,)
(51438,)
(54466,)
(63588,)
(63913,)
(64015,)
(65556,)
(89427,)
(94209,)
(118680,)
(145188,)

### Task 3.7: Filter Listings by Neighborhood and Maximum Price
- Write an SQL query to filter the listings in the 'Chelsea' neighborhood with a maximum price of $200.
- Execute the query and display the results.

Hint: The WHERE clause is used to specify the filtering conditions.

In [15]:
# TODO: Execute the SQL query to filter the listings
cursor.execute("""
   SELECT id,
   room_type,
   price FROM listings
   WHERE neighbourhood = 'Chelsea'
   and price <=200;
""")
# Completed
results = cursor.fetchall()

In [16]:
# Display the results
for row in results:
    print(row)

(7322, 'Private room', 140)
(18728, 'Private room', 150)
(21794, 'Private room', 98)
(47370, 'Entire home/apt', 125)
(51572, 'Private room', 123)
(98663, 'Entire home/apt', 130)
(135706, 'Entire home/apt', 132)
(145188, 'Entire home/apt', 200)
(159913, 'Private room', 150)
(193853, 'Entire home/apt', 149)
(222304, 'Entire home/apt', 199)
(258690, 'Entire home/apt', 195)
(261674, 'Private room', 95)
(442649, 'Entire home/apt', 125)
(456110, 'Entire home/apt', 139)
(502132, 'Shared room', 50)
(515392, 'Entire home/apt', 200)
(516461, 'Entire home/apt', 130)
(522081, 'Private room', 170)
(525120, 'Entire home/apt', 135)
(564184, 'Private room', 125)
(649561, 'Entire home/apt', 135)
(667375, 'Entire home/apt', 200)
(683084, 'Entire home/apt', 199)
(698327, 'Private room', 72)
(731316, 'Entire home/apt', 140)
(747029, 'Private room', 155)
(767967, 'Entire home/apt', 105)
(812938, 'Entire home/apt', 99)
(823520, 'Private room', 179)
(826764, 'Private room', 65)
(841292, 'Private room', 109)
(858223, 'Entire home/apt', 200)
(919830, 'Private room', 125)
(925137, 'Entire home/apt', 124)
(1043046, 'Entire home/apt', 160)
(1072481, 'Private room', 70)
(1089240, 'Private room', 176)
(1105845, 'Entire home/apt', 160)
(1133296, 'Entire home/apt', 175)
(1139851, 'Entire home/apt', 90)
(1182187, 'Private room', 125)
(1292428, 'Private room', 119)
(1336223, 'Entire home/apt', 93)
(1336230, 'Entire home/apt', 93)
(1336390, 'Entire home/apt', 199)
(1377820, 'Entire home/apt', 180)
(1408914, 'Entire home/apt', 200)
(1421933, 'Private room', 90)
(1478946, 'Entire home/apt', 98)
(1479283, 'Entire home/apt', 96)
(1524017, 'Entire home/apt', 140)
(1701981, 'Entire home/apt', 200)
(1704798, 'Private room', 76)
(1752206, 'Entire home/apt', 200)
(1759526, 'Private room', 90)
(1811446, 'Private room', 90)
(1820858, 'Entire home/apt', 161)
(1835367, 'Entire home/apt', 92)
(1866051, 'Entire home/apt', 200)
(1871261, 'Private room', 90)
(1891017, 'Entire home/apt', 200)
(1892319, 'Private room', 84)
(1903249, 'Private room', 75)
(1947400, 'Entire home/apt', 200)
(1975999, 'Entire home/apt', 189)
(2071420, 'Entire home/apt', 199)
(2093064, 'Entire home/apt', 139)
(2134052, 'Entire home/apt', 90)
(2185668, 'Private room', 80)
(2186699, 'Entire home/apt', 160)
(2310445, 'Entire home/apt', 150)
(2422991, 'Entire home/apt', 159)
(2493039, 'Private room', 119)
(2723554, 'Entire home/apt', 110)
(2756159, 'Shared room', 85)
(2918732, 'Entire home/apt', 200)
(3010430, 'Entire home/apt', 180)
(3029690, 'Entire home/apt', 93)
(3060297, 'Entire home/apt', 93)
(3265409, 'Private room', 90)
(3279671, 'Entire home/apt', 165)
(3339205, 'Entire home/apt', 160)
(3339273, 'Entire home/apt', 93)
(3344509, 'Entire home/apt', 179)
(3496384, 'Private room', 85)
(3521162, 'Entire home/apt', 175)
(3616946, 'Private room', 135)
(3636601, 'Entire home/apt', 95)
(3782283, 'Entire home/apt', 150)
(3801701, 'Entire home/apt', 195)
(3896579, 'Entire home/apt', 200)
(3922417, 'Entire home/apt', 95)
(3983422, 'Entire home/apt', 125)
(4129195, 'Entire home/apt', 175)
(4144849, 'Entire home/apt', 115)
(4220151, 'Entire home/apt', 159)
(4276618, 'Entire home/apt', 120)
(4284031, 'Entire home/apt', 160)
(4297952, 'Entire home/apt', 199)
(4329728, 'Private room', 110)
(4338177, 'Entire home/apt', 160)
(4431247, 'Shared room', 70)
(4509500, 'Entire home/apt', 150)
(4841187, 'Entire home/apt', 200)
(4842507, 'Private room', 150)
(4920912, 'Entire home/apt', 175)
(4930306, 'Entire home/apt', 175)
(5160871, 'Entire home/apt', 135)
(5298299, 'Private room', 109)
(5334478, 'Entire home/apt', 199)
(5401148, 'Entire home/apt', 195)
(5661080, 'Entire home/apt', 165)
(5872177, 'Entire home/apt', 163)
(5958299, 'Private room', 105)
(6128992, 'Entire home/apt', 150)
(6262496, 'Private room', 150)
(6402807, 'Entire home/apt', 100)
(6478214, 'Entire home/apt', 199)
(6479559, 'Entire home/apt', 150)
(6543312, 'Entire home/apt', 175)
(6590569, 'Private room', 110)
(6645224, 'Private room', 100)
(6674363, 'Private room', 130)
(6692975, 'Private room', 100)
(6730056, 'Entire home/apt', 200)
(6737815, 'Entire home/apt', 200)
(6748933, 'Entire home/apt', 145)
(6831518, 'Private room', 99)
(6853271, 'Entire home/apt', 150)
(6908209, 'Entire home/apt', 155)
(6949104, 'Private room', 135)
(6965441, 'Entire home/apt', 150)
(7275273, 'Entire home/apt', 200)
(7292891, 'Entire home/apt', 170)
(7364374, 'Private room', 150)
(7483034, 'Private room', 195)
(7563529, 'Entire home/apt', 170)
(7603389, 'Private room', 118)
(7758577, 'Entire home/apt', 175)
(7760406, 'Entire home/apt', 200)
(7859723, 'Entire home/apt', 120)
(7881023, 'Entire home/apt', 175)
(7969111, 'Private room', 135)
(7981341, 'Shared room', 200)
(8014087, 'Private room', 100)
(8045421, 'Entire home/apt', 129)
(8145339, 'Entire home/apt', 129)
(8210423, 'Private room', 95)
(8342053, 'Entire home/apt', 160)
(8368794, 'Entire home/apt', 140)
(8388776, 'Entire home/apt', 109)
(8519400, 'Entire home/apt', 200)
(8541831, 'Entire home/apt', 116)
(8698671, 'Private room', 112)
(8742567, 'Entire home/apt', 200)
(8988997, 'Entire home/apt', 129)
(8989430, 'Entire home/apt', 136)
(9003691, 'Entire home/apt', 109)
(9127011, 'Entire home/apt', 193)
(9144999, 'Private room', 140)
(9155475, 'Entire home/apt', 130)
(9175459, 'Entire home/apt', 180)
(9183131, 'Private room', 139)
(9201479, 'Private room', 100)
(9299515, 'Entire home/apt', 200)
(9365502, 'Entire home/apt', 150)
(9394266, 'Private room', 100)
(9401453, 'Entire home/apt', 180)
(9463039, 'Entire home/apt', 182)
(9464543, 'Private room', 98)
(9496094, 'Entire home/apt', 160)
(9505268, 'Entire home/apt', 150)
(9525241, 'Entire home/apt', 126)
(9540974, 'Private room', 195)
(9585339, 'Entire home/apt', 100)
(9609825, 'Entire home/apt', 199)
(9740386, 'Entire home/apt', 175)
(9772152, 'Entire home/apt', 195)
(9862831, 'Entire home/apt', 80)
(9865374, 'Entire home/apt', 200)
(9881516, 'Private room', 50)
(9885815, 'Entire home/apt', 85)
(9940966, 'Entire home/apt', 199)
(10037605, 'Entire home/apt', 170)
(10059699, 'Entire home/apt', 159)
(10090735, 'Entire home/apt', 175)
(10096773, 'Entire home/apt', 145)
(10148581, 'Private room', 52)
(10210556, 'Private room', 175)
(10322621, 'Private room', 81)
(10403231, 'Entire home/apt', 120)
(10452737, 'Private room', 139)
(10482237, 'Private room', 85)
(10482409, 'Private room', 85)
(10482554, 'Private room', 85)
(10489896, 'Shared room', 46)
(10564375, 'Entire home/apt', 180)
(10692885, 'Entire home/apt', 120)
(10766309, 'Private room', 130)
(10903055, 'Private room', 119)
(10904914, 'Private room', 70)
(11006134, 'Entire home/apt', 125)
(11296590, 'Entire home/apt', 165)
(11389773, 'Private room', 65)
(11419133, 'Private room', 80)
(11453784, 'Entire home/apt', 200)
(11503335, 'Private room', 84)
(11531154, 'Private room', 70)
(11563821, 'Private room', 110)
(11863468, 'Entire home/apt', 142)
(12000030, 'Entire home/apt', 199)
(12050280, 'Private room', 150)
(12067652, 'Entire home/apt', 175)
(12089661, 'Private room', 175)
(12167152, 'Private room', 179)
(12171671, 'Private room', 85)
(12322923, 'Entire home/apt', 165)
(12355067, 'Private room', 200)
(12560942, 'Entire home/apt', 185)
(12658099, 'Private room', 100)
(12681730, 'Private room', 125)
(12772993, 'Private room', 55)
(12786165, 'Private room', 75)
(12825700, 'Entire home/apt', 195)
(12854724, 'Entire home/apt', 75)
(12854734, 'Entire home/apt', 100)
(12869561, 'Entire home/apt', 191)
(12884594, 'Entire home/apt', 150)
(12891996, 'Entire home/apt', 200)
(12989612, 'Private room', 100)
(12989767, 'Entire home/apt', 175)
(13044689, 'Entire home/apt', 170)
(13078166, 'Entire home/apt', 179)
(13115864, 'Entire home/apt', 105)
(13162066, 'Entire home/apt', 130)
(13169806, 'Entire home/apt', 154)
(13186741, 'Private room', 85)
(13252064, 'Shared room', 75)
(13415535, 'Entire home/apt', 165)
(13476685, 'Entire home/apt', 165)
(13494898, 'Entire home/apt', 110)
(13514387, 'Private room', 90)
(13613052, 'Private room', 70)
(13642631, 'Entire home/apt', 150)
(13695031, 'Entire home/apt', 155)
(13723345, 'Entire home/apt', 185)
(13746962, 'Private room', 150)
(13752222, 'Private room', 135)
(13757845, 'Entire home/apt', 199)
(13926604, 'Private room', 85)
(13926664, 'Private room', 85)
(13953224, 'Entire home/apt', 190)
(14041141, 'Entire home/apt', 175)
(14057678, 'Private room', 125)
(14108509, 'Entire home/apt', 195)
(14108671, 'Private room', 90)
(14120431, 'Entire home/apt', 155)
(14155064, 'Entire home/apt', 143)
(14236416, 'Entire home/apt', 150)
(14312186, 'Entire home/apt', 185)
(14429513, 'Private room', 139)
(14609804, 'Entire home/apt', 175)
(14821494, 'Entire home/apt', 129)
(14858544, 'Entire home/apt', 90)
(14887025, 'Entire home/apt', 109)
(15021783, 'Private room', 80)
(15083267, 'Private room', 110)
(15141938, 'Private room', 180)
(15252848, 'Entire home/apt', 110)
(15282411, 'Private room', 120)
(15314886, 'Entire home/apt', 179)
(15323284, 'Private room', 110)
(15446631, 'Entire home/apt', 180)
(15520060, 'Entire home/apt', 200)
(15625556, 'Private room', 78)
(15664673, 'Private room', 120)
(15773659, 'Entire home/apt', 150)
(15927071, 'Entire home/apt', 180)
(15937164, 'Entire home/apt', 180)
(16002841, 'Entire home/apt', 125)
(16032177, 'Entire home/apt', 149)
(16103920, 'Entire home/apt', 200)
(16107664, 'Entire home/apt', 181)
(16120794, 'Entire home/apt', 156)
(16170544, 'Entire home/apt', 60)
(16172895, 'Entire home/apt', 150)
(16228505, 'Private room', 120)
(16253465, 'Entire home/apt', 128)
(16274292, 'Entire home/apt', 165)
(16336497, 'Entire home/apt', 110)
(16393191, 'Private room', 85)
(16393395, 'Private room', 85)
(16405036, 'Private room', 95)
(16440192, 'Private room', 85)
(16506579, 'Private room', 85)
(16529755, 'Private room', 115)
(16543032, 'Entire home/apt', 196)
(16828843, 'Entire home/apt', 130)
(16874685, 'Private room', 200)
(16945093, 'Entire home/apt', 150)
(16976215, 'Private room', 125)
(17071462, 'Private room', 99)
(17223109, 'Entire home/apt', 190)
(17237486, 'Entire home/apt', 175)
(17297014, 'Entire home/apt', 160)
(17344027, 'Private room', 103)
(17360353, 'Private room', 100)
(17368006, 'Private room', 82)
(17543905, 'Private room', 100)
(17555918, 'Private room', 90)
(17584136, 'Entire home/apt', 190)
(17610059, 'Private room', 100)
(17752493, 'Private room', 89)
(17762525, 'Entire home/apt', 139)
(17905479, 'Entire home/apt', 200)
(17981447, 'Private room', 57)
(18024772, 'Entire home/apt', 95)
(18034890, 'Private room', 105)
(18050153, 'Entire home/apt', 134)
(18124043, 'Entire home/apt', 180)
(18173989, 'Private room', 69)
(18288371, 'Entire home/apt', 195)
(18386307, 'Entire home/apt', 89)
(18481196, 'Entire home/apt', 200)
(18579416, 'Entire home/apt', 200)
(18584180, 'Entire home/apt', 180)
(18812670, 'Private room', 68)
(18849349, 'Entire home/apt', 149)
(18892465, 'Private room', 150)
(18933994, 'Private room', 90)
(19015029, 'Private room', 85)
(19098733, 'Entire home/apt', 149)
(19218475, 'Private room', 90)
(19249099, 'Entire home/apt', 140)
(19313064, 'Entire home/apt', 200)
(19364229, 'Private room', 100)
(19368455, 'Entire home/apt', 185)
(19385683, 'Private room', 130)
(19408844, 'Entire home/apt', 135)
(19415979, 'Entire home/apt', 175)
(19439790, 'Entire home/apt', 189)
(19455149, 'Private room', 49)
(19455656, 'Private room', 65)
(19563669, 'Private room', 140)
(19573919, 'Entire home/apt', 140)
(19609919, 'Private room', 105)
(19619159, 'Entire home/apt', 155)
(19622470, 'Private room', 100)
(19652739, 'Entire home/apt', 130)
(19714903, 'Entire home/apt', 150)
(19790344, 'Entire home/apt', 200)
(19821160, 'Entire home/apt', 200)
(19821206, 'Entire home/apt', 128)
(19968961, 'Private room', 110)
(20133862, 'Entire home/apt', 169)
(20182193, 'Entire home/apt', 175)
(20204055, 'Entire home/apt', 170)
(20250864, 'Private room', 40)
(20350538, 'Entire home/apt', 164)
(20425394, 'Entire home/apt', 162)
(20506481, 'Entire home/apt', 195)
(20587567, 'Entire home/apt', 154)
(20651136, 'Private room', 165)
(20722247, 'Private room', 75)
(20815900, 'Private room', 89)
(20860184, 'Private room', 95)
(20864878, 'Entire home/apt', 200)
(20941420, 'Private room', 100)
(21015751, 'Entire home/apt', 160)
(21044271, 'Entire home/apt', 125)
(21121441, 'Entire home/apt', 195)
(21181643, 'Private room', 99)
(21185183, 'Entire home/apt', 169)
(21213047, 'Entire home/apt', 165)
(21215073, 'Private room', 149)
(21215200, 'Entire home/apt', 175)
(21254023, 'Private room', 110)
(21306332, 'Entire home/apt', 170)
(21413839, 'Private room', 82)
(21428231, 'Private room', 95)
(21452348, 'Entire home/apt', 128)
(21469886, 'Entire home/apt', 180)
(21475999, 'Private room', 85)
(21682816, 'Private room', 120)
(21718049, 'Entire home/apt', 185)
(21767672, 'Entire home/apt', 159)
(21771502, 'Entire home/apt', 200)
(21838658, 'Private room', 99)
(21844377, 'Private room', 200)
(21851700, 'Entire home/apt', 150)
(21861551, 'Private room', 155)
(21893604, 'Private room', 12)
(21937451, 'Entire home/apt', 200)
(21995883, 'Private room', 150)
(22106002, 'Private room', 99)
(22143436, 'Entire home/apt', 200)
(22144662, 'Entire home/apt', 109)
(22164078, 'Entire home/apt', 149)
(22232463, 'Entire home/apt', 135)
(22241573, 'Private room', 115)
(22303856, 'Entire home/apt', 152)
(22312190, 'Private room', 84)
(22352793, 'Entire home/apt', 110)
(22353899, 'Entire home/apt', 175)
(22361598, 'Entire home/apt', 159)
(22550483, 'Private room', 88)
(22628471, 'Entire home/apt', 75)
(22651509, 'Entire home/apt', 115)
(22683927, 'Private room', 150)
(22754110, 'Entire home/apt', 115)
(22781825, 'Entire home/apt', 75)
(22944203, 'Private room', 84)
(23001249, 'Entire home/apt', 150)
(23131463, 'Entire home/apt', 127)
(23166556, 'Private room', 63)
(23258639, 'Entire home/apt', 180)
(23344243, 'Entire home/apt', 146)
(23374229, 'Private room', 98)
(23421363, 'Private room', 80)
(23464702, 'Private room', 99)
(23468785, 'Private room', 80)
(23514583, 'Entire home/apt', 150)
(23548260, 'Entire home/apt', 96)
(23560164, 'Entire home/apt', 186)
(23632578, 'Entire home/apt', 185)
(23765706, 'Entire home/apt', 172)
(23839939, 'Entire home/apt', 199)
(23855466, 'Entire home/apt', 70)
(24080143, 'Private room', 89)
(24266025, 'Private room', 70)
(24312275, 'Entire home/apt', 150)
(24377683, 'Private room', 85)
(24393653, 'Private room', 190)
(24715838, 'Entire home/apt', 190)
(24866257, 'Private room', 175)
(24894724, 'Entire home/apt', 120)
(24992418, 'Entire home/apt', 170)
(25156498, 'Private room', 75)
(25259845, 'Entire home/apt', 140)
(25292558, 'Private room', 100)
(25340844, 'Private room', 68)
(25355845, 'Entire home/apt', 200)
(25380189, 'Private room', 100)
(25380654, 'Private room', 99)
(25516958, 'Entire home/apt', 179)
(25752683, 'Entire home/apt', 199)
(26658854, 'Private room', 50)
(26805133, 'Private room', 92)
(26812606, 'Entire home/apt', 69)
(26934498, 'Private room', 150)
(27085372, 'Entire home/apt', 98)
(27100997, 'Private room', 115)
(27112835, 'Entire home/apt', 85)
(27140232, 'Entire home/apt', 155)
(27160493, 'Private room', 165)
(27185508, 'Entire home/apt', 175)
(27199508, 'Entire home/apt', 149)
(27333579, 'Private room', 120)
(27372891, 'Entire home/apt', 200)
(27527118, 'Private room', 77)
(27551268, 'Entire home/apt', 150)
(27600437, 'Entire home/apt', 93)
(27654829, 'Private room', 200)
(27802387, 'Shared room', 85)
(27853549, 'Entire home/apt', 180)
(27903413, 'Entire home/apt', 180)
(28104895, 'Entire home/apt', 167)
(28133007, 'Entire home/apt', 200)
(28335031, 'Entire home/apt', 154)
(28359765, 'Entire home/apt', 175)
(28372451, 'Entire home/apt', 110)
(28440536, 'Entire home/apt', 200)
(28715589, 'Entire home/apt', 150)
(28752251, 'Private room', 91)
(28754650, 'Entire home/apt', 140)
(28832811, 'Private room', 90)
(28881114, 'Private room', 175)
(28919308, 'Entire home/apt', 195)
(28964081, 'Entire home/apt', 137)
(28964397, 'Private room', 65)
(28981827, 'Entire home/apt', 200)
(29063993, 'Entire home/apt', 69)
(29381358, 'Private room', 165)
(29384622, 'Entire home/apt', 200)
(29393808, 'Entire home/apt', 175)
(29440688, 'Private room', 100)
(29630728, 'Entire home/apt', 189)
(29701500, 'Entire home/apt', 200)
(29780863, 'Private room', 180)
(29904741, 'Private room', 85)
(29906273, 'Entire home/apt', 175)
(29945246, 'Entire home/apt', 125)
(30062478, 'Entire home/apt', 170)
(30108247, 'Private room', 114)
(30133439, 'Private room', 66)
(30137792, 'Private room', 85)
(30182093, 'Entire home/apt', 200)
(30199043, 'Private room', 150)
(30227667, 'Entire home/apt', 175)
(30272473, 'Entire home/apt', 139)
(30445028, 'Private room', 110)
(30563760, 'Private room', 138)
(30708899, 'Private room', 133)
(30709202, 'Private room', 130)
(30769959, 'Private room', 138)
(30788330, 'Entire home/apt', 160)
(30824786, 'Private room', 75)
(30885792, 'Private room', 80)
(31054566, 'Private room', 68)
(31122807, 'Private room', 200)
(31122836, 'Private room', 200)
(31151736, 'Entire home/apt', 190)
(31297452, 'Entire home/apt', 190)
(31382878, 'Entire home/apt', 180)
(31390350, 'Private room', 100)
(31489863, 'Private room', 92)
(31543550, 'Private room', 86)
(31622417, 'Entire home/apt', 200)
(31654063, 'Private room', 99)
(31748621, 'Entire home/apt', 100)
(31883514, 'Private room', 99)
(31883774, 'Private room', 99)
(32113235, 'Entire home/apt', 180)
(32163602, 'Entire home/apt', 180)
(32164433, 'Entire home/apt', 175)
(32172621, 'Private room', 99)
(32189288, 'Entire home/apt', 100)
(32449378, 'Shared room', 180)
(32549565, 'Entire home/apt', 139)
(32549617, 'Entire home/apt', 123)
(32663202, 'Shared room', 65)
(32668900, 'Entire home/apt', 200)
(32675979, 'Private room', 100)
(32676082, 'Private room', 100)
(32676180, 'Private room', 100)
(32676181, 'Private room', 100)
(32676185, 'Private room', 100)
(32676186, 'Private room', 100)
(32676189, 'Private room', 100)
(32676190, 'Private room', 100)
(32678246, 'Private room', 100)
(32691375, 'Entire home/apt', 149)
(32748646, 'Private room', 80)
(32763453, 'Private room', 150)
(32764575, 'Private room', 140)
(32773207, 'Entire home/apt', 149)
(32805038, 'Entire home/apt', 139)
(32885270, 'Entire home/apt', 180)
(33069506, 'Private room', 83)
(33113990, 'Entire home/apt', 175)
(33142839, 'Entire home/apt', 199)
(33189664, 'Entire home/apt', 140)
(33226326, 'Entire home/apt', 140)
(33270883, 'Private room', 100)
(33294631, 'Private room', 75)
(33295329, 'Entire home/apt', 120)
(33365859, 'Entire home/apt', 185)
(33571687, 'Entire home/apt', 170)
(33595791, 'Private room', 115)
(33608666, 'Private room', 110)
(33708931, 'Private room', 150)
(33712513, 'Entire home/apt', 154)
(33719823, 'Entire home/apt', 200)
(33745548, 'Private room', 99)
(33745550, 'Private room', 199)
(33850135, 'Entire home/apt', 162)
(33866860, 'Entire home/apt', 99)
(33874579, 'Entire home/apt', 150)
(33935442, 'Private room', 130)
(33981416, 'Private room', 110)
(33998274, 'Entire home/apt', 100)
(34019440, 'Entire home/apt', 180)
(34042658, 'Entire home/apt', 195)
(34196510, 'Private room', 199)
(34198108, 'Private room', 129)
(34206163, 'Private room', 199)
(34206654, 'Private room', 199)
(34206709, 'Private room', 199)
(34206762, 'Private room', 199)
(34206858, 'Private room', 199)
(34206929, 'Private room', 199)
(34207022, 'Private room', 129)
(34207413, 'Private room', 149)
(34207474, 'Private room', 149)
(34207544, 'Private room', 149)
(34207635, 'Private room', 149)
(34207673, 'Private room', 159)
(34207739, 'Private room', 159)
(34207862, 'Private room', 159)
(34255740, 'Entire home/apt', 134)
(34284883, 'Entire home/apt', 129)
(34338645, 'Private room', 85)
(34341588, 'Entire home/apt', 159)
(34343752, 'Entire home/apt', 195)
(34383329, 'Private room', 85)
(34446902, 'Private room', 140)
(34470949, 'Private room', 109)
(34470950, 'Private room', 199)
(34470954, 'Private room', 159)
(34675093, 'Entire home/apt', 100)
(34866413, 'Entire home/apt', 93)
(34929016, 'Private room', 89)
(35114837, 'Entire home/apt', 154)

# Section 4: Closing the Database Connection <a name="closing-connection"></a>

### Task 4.1: Close the Cursor and Database Connection
- It's good practice to close the cursor and the database connection when you're done working with the database to free up system resources and maintain proper connection management.

In [17]:
# Completed
# Make sure to include these lines of code at the end of your script to properly close the cursor and database connection.
cursor.close()
conn.close()

# Section 5: Summary of Basic SQL Commands <a name="summary-commands"></a>

In this project, you have practiced various SQL commands and tasks. Below is a summary of the basic SQL commands used:

**Task 1.2: Connect to the Database**
- Established a connection to the SQLite database.

**Task 2.1: Load the Dataset**
- Loaded the dataset into a DataFrame.
- Imported the DataFrame into the database.

**Task 3.1: Retrieve all Columns**
- Executed a SELECT query to retrieve all columns.

**Task 3.2: Count Total Records**
- Executed a SELECT COUNT(*) query to count the total records.

**Task 3.3: Top 10 Neighborhoods by Average Price**
- Executed a SELECT query with GROUP BY, ORDER BY, and LIMIT clauses.

**Task 3.4: Number of Listings by Room Type**
- Executed a SELECT query with COUNT() and GROUP BY.

**Task 3.5: Average Number of Reviews per Listing**
- Executed a SELECT query with AVG().

**Task 3.6: Listings with Minimum Number of Reviews**
- Executed a SELECT query with WHERE and a subquery.

**Task 3.7: Filter Listings by Neighborhood and Maximum Price**
- Executed a SELECT query with WHERE conditions.

**Task 4.1: Close the Cursor and Database Connection**
- Closed the cursor and the database connection.

This summary provides an overview of the basic SQL commands used in this project. You can use this as a reference for future SQL projects and data analysis tasks.

<h3 align = 'center' >
Thank you for completing the project!
</h3>

Please do reach out to us if you have any questions or concerns. We are here to help you learn and grow.

Please send your completed Google Colab Notebook to the NSDC HQ Team at nsdc@nebigdatahub.org in order to receive your virtual certificate of completion.